html {
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: $default-font;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.l-container {
  width: calc(100% - #{$layout-margin-x}*2);
  max-width: $layout-max-width;
  margin: 0 $layout-margin-x;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $dark;
  text-decoration: none;
}

.circle {
  width: $circleSize;
  height: $circleSize;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 50%;
  background-color: $light;
}

.circle-nav {
  position: absolute;
  bottom: 1rem;
  display: flex;

  li {
    margin: 0 .2rem;
  }
}