$media-size: 1024px;
$layout-max-width: 124rem;
$layout-margin-x: 2rem;
$footer-margin-x: 7.5rem;
$burger-line-width: 3.4rem;
$burger-line-height: 2rem;
$input-height: 4.6rem;
$footer-item-padding-y: 2.8rem;
$slideshow-mobile: 29.3rem;
$slideshow-desktop: 55rem;
$circleSize: 1rem;
$offerImgHeight: 23rem;
$offersListMarginX: 2.5rem;